<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create team
            <small>new team</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/teams">Teams</a>
                </li>
                <li class="active">New</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="create(form)" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                    'has-error': form.name.$invalid && submitted }">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="item.name"
                    required/>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A name is required
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
                    'has-error': form.description.$invalid && submitted }">
                    <label>Description</label>
                    <textarea
                    type="text" name="description" class="form-control" ng-model="item.description"
                    ng-minlength="3" rows="6"
                    required
                    ></textarea>
                    <p class="help-block"
                    ng-show="(form.description.$error.minlength || form.description.$error.required) && (form.description.$dirty || submitted)">
                    Description must be at least 3 characters.
                    </p>
                </div>
                <p class="help-block"> {{ message }} </p>
                <button class="btn btn-lg btn-primary" type="submit">Create</button>
                <button class="btn btn-lg btn-primary" type="button" ng-click="cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>