<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Recreation</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoggedIn()">
                    <a href="profile">My profile</a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a href="competition">Competitions</a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a href="teams">Teams</a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a href="locations">Locations</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other sports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="portfolio-1-col.html">Tennis</a>
                        </li>
                        <li>
                            <a href="portfolio-2-col.html">Basketball</a>
                        </li>
                        <li>
                            <a href="portfolio-3-col.html">Waterpolo</a>
                        </li>
                    </ul>
                </li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>